<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qainfomate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Support2"></activity>
        <activity
            android:name=".View.AddForumComment"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.TopicDetail"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.NewTopic"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.Post_lib_Book2"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Post_lib_Book"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Post_review"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.LibraryBookDetail"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.MyBookDetail"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.Library"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.MessageDetail"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.SendMsg"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".View.Book_for_sale_detail"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.ItemListClass"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Post_Book2"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Post_Book"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Splash"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Floors"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Timetable"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Dashboard"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.Register"
            android:theme="@style/HiddenTitleTheme" />
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/HiddenTitleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>